{% extends 'dashboard/layouts/logout.html' %}
{% load static %}

{% block title %} Forgot password {% endblock %}

{% block seo %} {% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<form class="card border-0 p-4" id="forgot">
    <h1 class="text-center mb-2 m-0 h3">
        <b>Forgot password</b>
    </h1>
    <p class="text-center text-muted mb-3">We will send a confirmation link on your email address!</p>
    <div class="form-group mb-2">
        <input type="email" class="form-control form-control-lg border-0 bg-light font-12 shadow-none" id="email"
            placeholder="Enter your email" value="abdulhannanzarrar88@gmail.com">
    </div>
    <div class="d-grid mt-3">
        <a href="/dashboard/" class="text-dark text-decoration-none font-12">
            Login instead?
        </a>
        <button type="submit" class="btn btn-primary btn-sm mt-2 font-14 rounded" id="btnsubmit"><b>Proceed</b></button>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'modules/dashboard/account/forgot/index.js' %}"></script>
{% endblock %}