{% extends 'dashboard/layouts/logout.html' %}
{% load static %}

{% block title %} Change password {% endblock %}

{% block seo %} {% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<form class="card border-0 p-4" id="recover">
    <h1 class="text-center mb-2 m-0 h3"> <b>Change password</b></h1>
    <p class="text-center text-muted mb-3">Now you can recover your  password!</p>
    <input type="hidden" id="tok" value="{{ token }}">
    <input type="hidden" id="uid" value="{{ uid }}">
    <div class="form-group mb-2">
        <input type="password" class="form-control form-control-lg border-0 bg-light font-12 shadow-none" id="password"
            name="password" placeholder="Create new password">
    </div>
    <div class="form-group mb-2">
        <input type="password" class="form-control form-control-lg border-0 bg-light font-12 shadow-none" id="password2"
            name="password2" placeholder="Confirm password">
    </div>
    <div class="d-grid mt-3">
        <button type="submit" class="btn btn-primary btn-sm mt-2 font-14 rounded" id="btnsubmit"><b>Change</b></button>
    </div>
</form>

{% endblock %}

{% block scripts %}
<script src="{% static 'modules/dashboard/account/recover/index.js' %}"></script>
{% endblock %}