{% extends 'dashboard/layouts/login.html' %}
{% load static %}

{% block title %} Staff users {% endblock %}

{% block seo %} {% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" class="border-bottom px-3 py-2">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item">
            <a href="/dashboard/" class="text-decoration-none text-dark">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a class="text-decoration-none text-dark">Users</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/dashboard/user-staff/" class="text-decoration-none text-dark">Staff</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">All</li>
    </ol>
</nav>
<section class="overflow-auto h-100">
    <table class="table table-card  mb-0 font-12">
        <thead class="bg-light">
            <tr>
                <th class="px-4 border-bottom text-uppercase text-muted" scope="col">ID</th>
                <th class="border-bottom text-uppercase text-muted" scope="col">Image</th>
                <th class="border-bottom text-uppercase text-muted" scope="col">Fullname</th>
                <th class="border-bottom text-uppercase text-muted" scope="col">Username</th>
                <th class="border-bottom text-uppercase text-muted" scope="col">Email</th>
                <th class="border-bottom text-uppercase text-muted" scope="col">Status</th>
                <th class="border-bottom text-uppercase text-muted" scope="col">Created at</th>
                <th class="border-bottom text-uppercase text-muted" scope="col">Updated at</th>
                <th class="px-3 border-bottom text-uppercase text-muted" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="data" class="font-12"></tbody>
    </table>
</section>
{% endblock %}


{% block modals %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="createupdateform">
    <form class="h-100 d-flex flex-column modalForm" autocomplete="off" method="post" enctype="multipart/form-data">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title d-flex align-items-center" id="modelTitle">

            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body h-100">
            <div id="hiddenFields"></div>
            <div class="form-group mb-3">
                <label class="font-weight-bolder mb-0" for="firstname"><b>Firstname</b></label>
                <input class="form-control shadow-none border form-control-lg font-14" id="firstname" type="text" />
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bolder mb-0" for="lastname"><b>Lastname</b></label>
                <input class="form-control shadow-none border form-control-lg font-14" id="lastname" type="text" />
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bolder mb-0" for="username"><b>Username</b></label>
                <input class="form-control shadow-none border form-control-lg font-14" id="username" type="text" />
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bolder mb-0" for="email"><b>Email</b></label>
                <input class="form-control shadow-none border form-control-lg font-14" id="email" type="text" />
            </div>
            <div class="form-group mb-3 password-field">
                <label class="font-weight-bolder mb-0" for="password"><b>Password</b></label>
                <input class="form-control shadow-none border form-control-lg font-14" id="password" type="text" />
            </div>
            <div class="form-group mb-3 password-field">
                <label class="font-weight-bolder mb-0" for="password2"><b>Confirm password</b></label>
                <input class="form-control shadow-none border form-control-lg font-14" id="password2" type="text" />
            </div>
            <div class="form-group mb-3">
                <label class="font-weight-bolder mb-0" for="status"><b>Active</b></label>
                <select id="is_active" name="is_active" class="form-select shadow-none border form-control-lg font-14"></select>
            </div>
        </div>
        <div class="offcanvas-footer d-flex p-3 py-2 border-top bg-light">
            <button class="btn btn-primary btn-submit w-50 font-12 me-2" id="btnsubmit"
                type="submit"><b>Proceed</b></button>
            <button class="btn btn-light border w-50  font-12 ms-2" data-bs-dismiss="offcanvas"
                type="button"><b>Cancel</b></button>
        </div>
    </form>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="changepasswordform">
    <form class="h-100 d-flex flex-column" id="change-password" autocomplete="off" method="post">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title d-flex align-items-center">
                <span class="bx bx-lock me-2 font-20"></span><b>CHANGE PASSWORD</b>
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body h-100">
            <div id="hiddenFields"></div>
            <div class="form-group  mb-3">
                <label class="font-weight-bolder mb-0" for="newpassword"><b>Password</b></label>
                <input type="hidden" id="userid">
                <input class="form-control shadow-none border form-control-lg font-14" id="newpassword"
                    type="password" />
            </div>
            <div class="form-group  mb-3">
                <label class="font-weight-bolder mb-0" for="confrimpassword"><b>Confirm password</b></label>
                <input class="form-control shadow-none border form-control-lg font-14" id="confrimpassword"
                    type="password" />
            </div>
        </div>
        <div class="offcanvas-footer d-flex p-3 py-2 border-top bg-light">
            <button class="btn btn-primary btn-submit w-50 font-12 me-2" id="btnsubmit1"
                type="submit"><b>Change</b></button>
            <button class="btn btn-light border w-50  font-12 ms-2" data-bs-dismiss="offcanvas"
                type="button"><b>Cancel</b></button>
        </div>
    </form>
</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'modules/dashboard/users/staff/listing.js' %}"></script>
<script src="{% static 'modules/dashboard/users/staff/create.js' %}"></script>
<script src="{% static 'modules/dashboard/users/staff/update.js' %}"></script>
<script src="{% static 'modules/dashboard/users/staff/view.js' %}"></script>
<script src="{% static 'modules/dashboard/users/staff/delete.js' %}"></script>
{% endblock %}