{% extends 'website/layouts/primary.html' %}

{% load static %}

{% block title %} Blogs - {% endblock %}

{% block seo %} {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/website/pages/blogs/stylesheet.css' %}">
{% endblock %}


{% block content %}
<main class="content">
    <section class="breadcrumb">
        <h1 class="heading">
            <a href="/" class="bx bx-home t-dark icon"></a>
            <span class="t-light dash"> - </span> Blogs
        </h1>
        <h2 class="sub-heading">Read our latest articles.</h2>
        <br>
        <input type="hidden" id="blogcategory" value="{{ category }}">
    </section>

    <!-- Blogs -->
    <section class="blogs-row" id="blogs"></section>
    <!-- Blogs -->

    <!-- Loading -->
    <div class="t-center">
        <button class="btn btn-p bx bx-chevrons-left" id="start"></button>
        <button class="btn btn-p" value="0" id="previous">Previous</button>
        <button class="btn btn-p" value="2" id="next">Next</button>
        <button class="btn btn-p bx bx-chevrons-right" id="last"></button>
    </div>
    <!-- Loading -->

    <br>
    <br>
    <br>
    <br>
</main>
{% endblock %}


{% block scripts %}
<script src="{% static 'modules/website/blog/index.js' %}"></script>
<script>loadBlogs();</script>
{% endblock %}