{% load static %}

{% load helpers %}

<!DOCTYPE html>
<html lang="en" class="light-mode">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'icons/boxicons/css/boxicons.min.css' %}">
    <title>{% block title %} {% endblock %} Professional translator</title>
    {% block seo %}
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="" />
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/website/stylesheet.css' %}">
    {% block stylesheets %}{% endblock %}
</head>

<body id="pageload">

    <!-- Header -->
    {% include "website/components/header.html" %}
    <!-- Header -->

    <!-- Content -->
    {% block content %}{% endblock %}
    <!-- Content -->

    <!-- Footer -->
    {% include "website/components/footer.html" %}
    <!-- Footer -->

    <!-- Libraries -->
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'libs/moment/moment.min.js' %}"></script>

    <!-- Common.js -->
    <script src="{% static 'js/website/base.js' %}"></script>
    <script src="{% static 'js/website/header.js' %}"></script>
    <script src="{% static 'js/website/message.js' %}"></script>
    <script src="{% static 'js/website/dropdown.js' %}"></script>


    <!-- Page scripts -->
    {% block scripts %}{% endblock %}
</body>

</html>