@import "../../layouts/primary";

.content {
    .breadcrumb {
        overflow: visible;

        .msg-icon {
            font-size: 120px;
            margin-bottom: 20px;
        }

        .icon-success {
            color: aquamarine;
        }

        .icon-error {
            color: red;
        }
    }
}