.navbar {
    padding: var(--container-d);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: top 0.3s;
    position: fixed;
    top: 0px;
    z-index: 800;
    width: 100%;

    .logo {
        width: 75px;
        min-width: 75px;
        max-width: 75px;

        .image {
            object-fit: contain;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            height: 100%;
            min-height: 100%;
            max-height: 100%;
        }
    }

    .r-menu {
        margin-left: auto;
        display: flex;
        align-items: center;
        align-content: center;

        .n-list {
            display: flex;
            align-items: center;
            align-content: center;
            list-style: none;
            padding: 0px;
            margin: 0px;

            .n-item {
                margin: 0px;
                padding: 0px;

                .n-link {
                    padding: 15px 25px;
                    text-decoration: none;
                    display: inline-block;
                    font-weight: bold;
                    font-size: 14px;
                    color: var(--text);
                    text-align: center;


                    .icon {
                        vertical-align: middle;
                        font-size: 20px;
                    }

                    &:hover {
                        color: var(--text);
                    }
                }

                .active {
                    color: var(--secondary);
                }
            }
        }
    }

    .n-btn {
        background-color: transparent;
        color: var(--text);
        border: none;
        outline: line;
        font-size: 28px;
        cursor: pointer;
        display: none;
    }
}


@media screen and (max-width: 1030px) {
    .navbar {
        padding: var(--container-t);
    }
}

@media screen and (max-width: 850px) {
    .navbar {
        padding: 5px 20px;
        .logo {
            width: 65px;
            min-width: 65px;
            max-width: 65px;
        }
        .r-menu {
            .n-list,
            .auth-list {
                display: none;
            }
        }

        .n-btn {
            display: block;
        }
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        padding: var(--container-m);
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}