:root {
    --primary: #D5E9F2;
    --secondary: #2B54F6;
    --dark: #ffffff;
    --light: #E8EEF4;
    --text:#000;
    --text-light:#222;
    --rounded-sm: 2px;
    --rounded: 5px;
    --rounded-lg: 10px;
    --border: #ddd;
    --shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    --container-m: 10px !important;
    --container-t: 10px 20px !important;
    --container-d: 10px 100px !important;
}